.listings-title {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: left;
  }

  /* top: title part */
  .button-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  .listing-title {
    background-color: #fff;
    color: #e11e2c;
    border: 2px solid #e11e2c;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .listing-title:hover {
    box-shadow: 0 0 10px #f66; 

  }

  .add-a-spot-btn {
    background-color: #e11e2c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .add-a-spot-btn:hover {
    background-color: #f66;
  }


  /* Listings part */
  .list-part {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    margin:20px 20px;
  }

  .listing-info {
    display: grid;
    grid-template-columns: 150px auto auto auto;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 10px; /* rounded corners */
    overflow: hidden; 
  }

  .picture img {
    background-color: #d3d3d3; /* Placeholder color for the thumbnail */
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 5px;
  }

  .space-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .spot-title {
    font-size: 20px;
    font-weight: bold;
  }

  .location {
    color: black;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .spot-type, .way-to-access {
    color: black;
    font-size: 11px;
    padding-top: 2px;
  }

  .spot-current-state {
    color: black;
    font-size: 12px;
    padding-top: 10px;
  }

  .manipulation-link {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    
  }

  .manipulation-link a {
    color: #e11e2c;
  }

  .manipulation-link a:hover {
    color: #f66;
    text-decoration: underline;
  }

  .first-line-link {
    margin-top: -30px;
    margin-bottom: 20px;
  }

  .edit-link {
    margin-right: 15px;
  }

  .first-line-btn button, .second-line-btn button {
    margin-right: 5px;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .edit-btn {
    background-color: #e11e2c; 
    color: white;
  }

  .edit-btn:hover {
    background-color: #f66;
  }

  .delete-btn {
    color: darkgray;
  }

  .delete-btn:hover {
    background-color:darkgray;
    color: black;
  }

  .second-line-btn button {
    width: 160px;
    background-color: #fff; 
    color: #e11e2c;
    border: 2px solid #e11e2c;
  }
  
  .second-line-btn button:hover {
    background-color: #e11e2c; 
    color: white;
  }

  .price {
    font-size: 22px;
    color: #333; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left: 1px solid #d3d3d3;
    background-color: #fff;
    padding: 0 15px;
  }

  .price-item1, .price-item2, .price-item3{
    border-bottom: 1px solid #d3d3d3;
    padding: 10px; /* spacing inside each price item */
    text-align: left; /* align text to the right */
  }

  .price-item1:last-child {
    border-bottom: none;
  }

  .price-item2:last-child {
    border-bottom: none;
  }

  .price-item3:last-child {
    border-bottom: none;
  }

  .hint-msg {
    text-align: center;
    margin-top: 20px;
  }

  .link-to-add a {
    color: #e11e2c;
  }

  .link-to-add a:hover {
    color: #f66;
  }


  /* delete modal */
  .delete-confirm-btn {
    width: 200px;
    color: darkgray;
    margin-right: 5px;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .delete-confirm-btn:hover {
    background-color:darkgray;
    color: black;
  }

  .delete-cancel-btn{
    background-color: #e11e2c; 
    width: 200px;
    color: white;
    margin-right: 5px;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .delete-cancel-btn:hover {
    background-color: #f66;
  }

  .delete-confirm-title{
    font-size: 20px;
    font-weight: bold;
  }