.orders-modal-overlay,.message-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .orders-modal-content, .message-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 800px;
    max-height: 80vh; 
    overflow-y: auto;
    padding: 20px;
  }
  
  .orders-modal-, .messages-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #d3d3d3;
    position: relative;
  }

  .current-state-title {
    font-size: 28px;
    font-weight: bold;
  }

  .modal-button-part {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px;
  }

 
  
  .close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
  }
  
  .spot-info {
    display: flex;
    justify-content: space-between;
  }
  
  /* 具体的轮播图样式 */
  .carousel-container {
    margin: 20px 0;
  }

  .spot-details {
    display: flex;
    align-items: center;
  }
  .img-container {
    margin-right: 10px;
  }

  .spot-details img {
    width: 150px;
    height: 150px;
    border-radius: 5%;
  }
  
  .order-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0; 
    background: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custome-info{
    width: 250px;
  }
  
  .custome-info img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
  
  .custome-details {
    flex-grow: 1;
    padding: 0 20px;
  }

  .order-info-spec {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .order-hint-msg {
    margin-top: 10px;
    font-weight: bold;
  }
  


  
  .send-msg-btn, .accept-btn, .order-review-btn  {
    margin-right: 5px;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    width: 140px;
    background-color: #e11e2c; 
    color: white;
  }

  .send-msg-btn:hover {
    background-color: #f66;
  }

  .accept-btn:hover {
    background-color: #f66;
  }

  .order-cancel-btn {
    width: 140px;
    margin-right: 5px;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    color: darkgray;
    width: 140px;
  }


  .order-cancel-btn:hover {
    background-color:darkgray;
    color: black;
  }

  .order-review-btn {
    background-color: black; 
    color: white;
    text-align: center;
  }

  .no-orders-message {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  .send-to-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .message-input {
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
  }

  .send-msg-confim-btn{
    width: 100px;
    margin-left: 15px;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    color: white;
    background-color: #e11e2c; 
  }

  .send-msg-confim-btn:hover {
    background-color: #f66;
  }