/* 整体布局 */
.profile-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .info-avatar-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .personal-info, .avatar-section {
    width: 48%; 
    
  }

  /* 信息部分 */
  .input-box {
    color: slategray;
    border: 1px solid slategray;
    border-radius: 5px;
    font-size: 15px;
  }


  /* 头像部分 */
  .avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-top: 60px ;
    align-items: center;
  }

  .avatar-container {
    width: 100%; /* 使容器宽度填满其父元素 */
    display: flex;
    flex-direction: column; /* 子元素垂直排列 */
    align-items: center; /* 子元素在容器中水平居中 */
    justify-content: center; /* 在主轴方向居中对齐子元素 */
  }

  #file-upload {
    display: none;
  }

  .custom-file-upload {
    margin-right: 10px;
    background-color: #fff;
    width: 140px;
    height: 40px;
    color: #e11e2c;
    font-weight: bold;
    border: 1px solid #e11e2c;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
  }
  
  
  .custom-file-upload:hover {
      box-shadow: 0 0 10px #f66; /* 鼠标悬停时的外部阴影 */
  }


  .action-buttons-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
  }
  
  
  .cancel-button {
    margin-right: 10px; 
    background-color: #e11e2c;
    width: 100px;
    color: #fff; 
    font-weight:bold ;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

    .cancel-button:hover {
        box-shadow: 0 0 10px #f66; /* 鼠标悬停时的外部阴影 */
    }

  .save-button {
    margin-right: 10px; 
    background-color: #e11e2c;
    width: 100px;
    color: #fff; 
    font-weight:bold ;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

    .save-button:hover {
        box-shadow: 0 0 10px #f66; /* 鼠标悬停时的外部阴影 */
        
    }

/* 使label占据整行 */
.form-group label {
    display: block; 
    margin-bottom: 0.5em;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
  }

/* city, state，postcode 横行信息 */
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  
  .form-group {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  .form-group.city {
    flex-basis: 30%;
  }
  
  .form-group.state {
    flex-basis: 20%;
  }
  
  .form-group.postcode {
    flex-basis: 30%;
  }
  

  .profile-avatar {
    width: 200px;
    height: auto;
  }



