/* DashboardTop.css */

/* 整体布局 */
.dashboard-top {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 使布局填满整个视口高度 */
  }
  
  /* 顶部导航样式 */
  .top-nav {
    background-color: #ddd; 
    color: #333;
    padding: 10px;
  }
  
  /* 内容区域样式，包含侧边导航和主内容区 */
  .content-area {
    display: flex;
    flex-grow: 1; /* 占据剩余空间 */
  }
  
  /* 侧边导航样式 */
  .side-nav {
    background-color: #f5f5f5; /* 浅色背景 */
    width: 200px; /* 定宽 */
    padding: 10px; /* 内边距 */
  }
  
  /* 主内容区域样式 */
  .main-content {
    flex-grow: 1; /* 占据剩余空间 */
    padding: 10px; /* 内边距 */
  }

  img.Applogo{
    height: 100%;
    margin: 0px 0px 0px 10px;
}
  
