.profile-container {
    display: flex;
    justify-content: space-between;
  }
  
  .personal-info, .avatar-section {
    width: 48%;
  }
  
  .profile-avatar {
    width: 100%;
    border: 1px solid #c5aeae;
  }
  
  .edit-photo-btn {
    background-color: #e11e2c; /* 红色背景 */
    color: #fff; /* 白色文本 */
    border: none;
    padding: 10px 20px;
    margin-top: 10px; /* 与图片间隔 */
    cursor: pointer;

  }
  /* Profile.css */

.form-group label {
    display: block; /* 这会使得label占据整行 */
    margin-bottom: 0.5em; /* 添加一些空间在label和input之间 */
  }
  
  .form-group input,
  .form-group select {
    width: 100%; /* 使input和select填满容器的宽度 */
    padding: 0.5em;
    margin-bottom: 1em; /* 为下一个表单元素提供空间 */
  }

  .avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
  }
  

  





  /* 响应式布局 */
  @media (max-width: 600px) {
    .profile-container {
      flex-direction: column;
    }
    
    .personal-info, .avatar-section {
      width: 100%;
    }
  }
  