.profile-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .info-avatar-container {
    display: flex;
    justify-content: space-between;
  }
  
  .personal-info, .avatar-section {
    width: 48%; 
  }
  
  .action-buttons-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
  }
  
  
  .cancel-button {
    margin-right: 10px; 
    background-color: #e11e2c;
    width: 100px;
    color: #fff; /* 白色文字 */
    font-weight:bold ;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .save-button {
    margin-right: 10px; /* 添加按钮之间的间隔 */
    color: #e11e2c; /* 红色背景 */
    background-color: #fff; /* 白色文字 */
    width: 100px;
    font-weight:bold ;
    border: 1px solid #e11e2c;
    padding: 10px 20px;
    cursor: pointer;
  }

  /* Profile.css */

.form-group label {
    display: block; /* 这会使得label占据整行 */
    margin-bottom: 0.5em; /* 添加一些空间在label和input之间 */
  }
  
  .form-group input,
  .form-group select {
    width: 100%; /* 使input和select填满容器的宽度 */
    padding: 0.5em;
    margin-bottom: 1em; /* 为下一个表单元素提供空间 */
  }



/* Address横行信息 */
  .form-row {
    display: flex;
    justify-content: space-between; /* Space out the input fields */
    margin-bottom: 1em; /* Spacing below the row */
  }
  
  .form-group {
    flex-grow: 1;
    margin-right: 10px; /* Spacing between the input fields */
  }
  
  .form-group:last-child {
    margin-right: 0; /* No margin for the last input field in the row */
  }
  
  .form-group.city {
    flex-basis: 30%; /* Adjust the width as necessary */
  }
  
  .form-group.state {
    flex-basis: 20%; /* Adjust the width as necessary */
  }
  
  .form-group.postcode {
    flex-basis: 30%; /* Adjust the width as necessary */
  }
  
  /* Styles for action buttons */
  .action-buttons-container {
    display: flex;
    justify-content: flex-end; /* Aligns the buttons to the right */
    padding: 10px 0;
  }

  
  /* 响应式 */
  @media (max-width: 600px) {
    .info-avatar-container {
      flex-direction: column;
    }
  
    .personal-info, .avatar-section {
      width: 100%; /* 在较小屏幕上占满整个宽度 */
    }
  
    .action-buttons-container {
      justify-content: center; /* 在较小屏幕上按钮居中 */
    }
  }
  
 
  